################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/Cabodi/.vs/Cabodi/v15/Server/sqlite3
